<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrolli i Pragut të Kalorive</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1>Kontrolli i Pragut të Kalorive</h1>

<div th:if="${warning != null}">
    <p style="color: red;" th:text="${warning}"></p>
</div>

<div th:if="${message != null}">
    <p style="color: green;" th:text="${message}"></p>
</div>

</body>
</html>
